*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.settings/
.classpath
.project

# Intellij
.idea/
*.iml
*.iws

# NetBeans
nb*.xml

# Sublime
*.sublime-project
*.sublime-workspace

# Mac
.DS_Store

# Maven
target/

# Wallet Data
*.spvchain
*.wallet

out/

*.tmp

*.wallet
*.spvchain
*.db
